body {
	background-color: black;
	background-image: url(../images/coversblack.jpg);
	font-family: roboto;
	color: white;
	}

div.header {
    display: flex;
    justify-content: center;
	}
	
.logo {
  top: 0;
  width: 85%;
	}

.green {
	color: rgb(74, 202, 97);
	text-align: center;
	font-size: 8vh;
	margin-top: 1vh;
	}
	
.text {
	text-align: center;
	font-size: 3vh;
	margin-top: 5vh;
	}
	
div.container {
	display: flex;
    justify-content: center;
    }
    
#login-button {
	 font-size: 7vh;
	 margin-top: 15vh;
	 padding: 4vh 5vh;
	 border-radius: 10%;
	}
	