/* Paul Irish */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Nicolas Gallagher */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* Floats */
.cf {
    *zoom: 1;
}

/* font */
@import url('https://fonts.googleapis.com/css?family=Roboto');


/* Index */
#background {
	background-color: black;
	background-image: url(../images/coversblack.jpg);
	font-family: roboto;
	color: white;
	}

#header {
    display: flex;
    justify-content: center;
	}
	
.logo {
  margin-top: 10px;
  width: 90%;
	}

.green {
	color: rgb(74, 202, 97);
	text-align: center;
	font-size: 8vh;
	margin-top: 1vh;
	}
	
.text {
	text-align: center;
	font-size: 3vh;
	margin-top: 2vh;
	}
	
div.container {
	display: flex;
    justify-content: center;
    }
    
button {
	 border-radius: 10%;
	 letter-spacing: 1px;
	 cursor: pointer;
	}

button:hover{
	transition-duration: .8s;
}

button:active {
	top: 2px;
}

#login-button {
	background-color: rgb(74, 202, 97);
	font-size: 4vh;
	padding: 2vh 2vh;
	margin-top: 8vh;
	}
	
	
/* Battle */
#headerbattle {
    display: flex;
    flex-direction: column;
    align-items: center;
	}
	
.logo1 {
  margin-top: 10px;
  width: 80%;
  }
  
.green1 {
	color: rgb(74, 202, 97);
	text-align: center;
	font-size: 5vh;
	margin-top: -1vh;
	}
	
.backgroundbattle {
	background-color: black;
	font-family: roboto;
	color: white;
	}
	
button, .btn-secondary {
    padding: 1vh 2vh;
    font-size: 3vh;
    background-color: rgb(74, 202, 97); 
    margin-right: 3vh;
	}
	
input, .form-artists {
	padding: 1vh 1vh;
	color: black;
	margin-left: 1vh;
	}	
	
#search-form {
	display: flex;
    flex-direction: line;
    }
	
button, .btn-primary {
    padding: 1vh 2vh;
    font-size: 3vh;
    margin-top: 2vh;
    margin-right: 1vh;
    margin-left: 1vh;
	}

#fight {
	background-color: rgb(74, 202, 97);
	}
	
#playagain {
	background-color: rgb(74, 202, 97);
	}
	
#idea {
	background-color: rgb(74, 202, 97);
	}

img {
    margin-top: 2vh;
    width: 30vh;
	}

span {
	text-transform: uppercase;
    font-size: 2vh;
	}